
.mpx-home-component {
  padding-top: 64px;
  .mpx-home-component-form {
    min-height: 100px;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
  }

  .mpx-home-component-results {
    padding-top: 100px;
    .video-card {
      min-width: 640px;
      max-width: 640px;
    }
  }
}
