<div class="mpx-home-component">
  <form name="searchForm" (submit)="search(searchQuery)" fxLayout="row" fxLayoutAlign="center center" class="mpx-home-component-form">
        <md-input-container fxFlex="350px">
          <input required name="searchInput" [(ngModel)]="searchQuery" mdInput placeholder="Enter words which you want to study">
        </md-input-container>
        &nbsp;
        <button type="submit" md-raised-button color="primary">Search</button>
  </form>

  <div fxLayout="column" fxLayoutAlign="center center" class="mpx-home-component-results">
    <md-progress-spinner color="primary" mode="indeterminate" *ngIf="searchInProgress"></md-progress-spinner>
    <md-card *ngFor="let video of videos" class="video-card">
      <md-card-header>
        <md-card-title>{{video.item.title}}</md-card-title>
      </md-card-header>
      <img *ngIf="video.item.thumbnails.standard" md-card-image [width]="video.item.thumbnails.standard.width" [height]="video.item.thumbnails.standard.height" [src]="video.item.thumbnails.standard.url">
      <md-card-actions *ngFor="let entry of video.entries">
        <md-chip-list><md-chip color="primary" selected="true">{{entry.word}}</md-chip></md-chip-list>
        <a target="_blank" [href]="video.item.originalUrl + '&t=' + timestamp | safe" md-button *ngFor="let timestamp of entry.timestamps">{{toDate(timestamp) | date : 'HH:mm:ss'}}</a>
      </md-card-actions>
    </md-card>
  </div>

</div>
