<md-toolbar color="primary" class="mpx-toolbar">
  <nav>
    <button md-button routerLink="/home">Home</button>
    <button md-button routerLink="/login">Login</button>
  </nav>
</md-toolbar>
<router-outlet></router-outlet>
