<div class="mpx-login-component">
  <div fxLayout="column" fxLayoutAlign="center center">
    <a md-raised-button href="/auth/facebook" target="_self" color="primary">
      <md-icon svgIcon="facebook-box"></md-icon>&nbsp;Login via Facebook
    </a>
  </div>
</div>
